<p id="notice"><%= notice %></p>

<h1>Shorturls</h1>

<table width="90%">
  <thead>
    <tr>
      <th>Targeturl</th>
      <th>Shorturl</th>
      <th>Invoked Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shorturls.each do |shorturl| %>
      <tr>
        <td class="target_cell"><%= shorturl.targeturl %></td>
        <td><%= shorturl.shorturl %></td>
        <td class="invocation_count"><%= shorturl.invocation_count %></td>
        <td><%= link_to 'Show', shorturl %></td>
        <td><%= link_to 'Edit', edit_shorturl_path(shorturl) %></td>
        <td><%= link_to 'Destroy', shorturl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shorturl', new_shorturl_path %>
